/* UI */

.trybotta {
  color: white;
  font-weight: 800;
  font-size: 3rem;
  margin: 0 40px;
}

.navitem {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 20px;
}

.navitemactive {
  text-decoration: underline;
}

/* Home */

.home > main {
  min-height: calc(100vh - 100px);
  background-color: white;
}

/* Newsletter */

.newsletter {
  min-height: 86vh;

  overscroll-behavior: none;
  overflow-y: hidden;
}

.headerbar > header {
  background-color: var(--ibottagray);
  height: 100px;
  
  position: fixed;
  width: 100%;

  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerbar > header > nav {
  display: flex;
  flex-direction: row;

  margin: 0 40px;
}

.headerbar > header > nav > span {
  display: flex;
  flex-direction: column;

  color: white;
}

.newsletter > main {
  background-color: var(--background);

  width: 100vw;
  min-height: 90vh;

  display: flex;

  overflow-y: hidden;
}

.headerspacer {
  height: 100px;
  width: 100%;
}

.panelspacer {
  min-width: 35vw;
  min-height: calc(100vh - 100px);
}

/* Panel */

.panel {
  background-color: azure;

  min-width: 35vw;
  min-height: calc(100vh - 100px);

  border: 1px solid lightgrey;

  position: fixed;
  top: 100px;
  /* left: 0; */
  left: 65vw;
}

/* View */

.view {
  background-color: gainsboro;

  min-width: 65vw;
  min-height: calc(100vh - 100px);

  overflow-y: auto;
}

.view > div {
  max-width: 600px;
  min-height: calc(90vh - 40px);

  margin: 20px auto;
  box-sizing: border-box;

  background-color: azure;
}

.slide {
  width: 100%;
  height: 400px;
  
  background-color: grey;
}

.altslide {
  width: 100%;
  height: 400px;
  
  background-color: darkgrey;
}

/* Form */

.formpanel > div {
  display: flex;
  flex-direction: column;

  margin: 15px;
}

.formpanel > div > label {
  font-size: 1.1rem;
  font-weight: 550;
  color: var(--ibottagray);
}

.formpanel > div > input {
  padding: 3px;
  border: 1px solid gainsboro;
  font-size: 14px;
  font-weight: 550;
  width: 240px;
  background-color: snow;
  border-radius: 30px;
}

.formpanel > button {
  padding: 10px;
  background-color: var(--ibottagray);
  color: white;
  border-radius: 30px;
  font-weight: 600;
  margin: 0 10px;
  width: 150px;
}

.formpanel > button:hover {
  padding: 10px;
  background-color: deeppink;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  margin: 0 10px;
  width: 150px;
}

.formpanel > button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.formpanel > button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}