/* UI */

.trybotta {
  color: white;
  font-weight: 800;
  font-size: 3rem;
  margin: 0 20px;
}

/* Home */

.home {
  min-height: 100vh;

  overscroll-behavior: none;
  overflow-y: hidden;
}

.home > header {
  background-color: var(--ibottagray);
  height: 10vh;

  position: fixed;
  width: 100%;
}

.home > main {
  background-color: var(--background);

  width: 100vw;
  min-height: 90vh;

  display: flex;

  overflow-y: hidden;
}

.headerspacer {
  height: 10vh;
  width: 100%;
}

.panelspacer {
  min-width: 35vw;
  min-height: 90vh;
}

/* Panel */

.panel {
  background-color: azure;

  min-width: 35vw;
  min-height: 90vh;

  border: 1px solid lightgrey;

  position: fixed;
  top: 10vh;
  left: 0;
}

/* View */

.view {
  background-color: gainsboro;

  min-width: 65vw;
  min-height: 90vh;

  overflow-y: auto;
}

.view > div {
  max-width: 600px;
  min-height: calc(90vh - 40px);

  margin: 20px auto;
  box-sizing: border-box;

  background-color: azure;
}

.slide {
  width: 100%;
  height: 400px;
  
  background-color: grey;
}

.altslide {
  width: 100%;
  height: 400px;
  
  background-color: darkgrey;
}